:root {
    --font-family: 'Inter';
    --accent: #485fc7;
}

* {
    font-family: var(--font-family);
}

a {
    color: var(--accent);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.avatar {
    width: 192px;
    height: 192px;
}

.avatar img {
    border-radius: 10% 10% 10% 10%;
}

p,
.navbar-menu .navbar-item {
    font-weight: 300;
}

@media screen and (min-width:1024px) {
    .navbar-menu {
        text-transform: lowercase;
    }
}

p > em,
p > a {
    border-bottom: dashed 1px;
    font-style: normal;
    font-weight: normal;
}

.navbar-menu a.navbar-item {
    color: #aaa;
}

.navbar-menu a.navbar-item:hover,
.navbar-menu a.navbar-item.is-active {
    color: var(--accent);
}

.navbar-menu a.navbar-item.is-active {
    font-weight: bold;
}

footer.footer {
    margin-top: auto;
}

ul.social-list > li {
    margin-bottom: 0.2em;
    font-size: 0.8em;
    text-align: right;
}

ul.social-list li > a {
    display: flex;
    align-items: center;
    color: #444;
}

ul.social-list li > a:hover {
    color: var(--accent);
}

ul.social-list li a > i:first-child {
    width: 24px;
    font-size: 18px;
}

ul.social-list span {
    margin-left: 0.5em;
    font-family: monospace;
    border-bottom: dashed 1px transparent;
}

ul.social-list span:hover {
    border-bottom: dashed 1px;
    cursor: pointer;
    color: var(--accent);
}

div.publication > h2 span:not(:last-child)::after {
    content: ','
}

div.publication > h2 span strong {
    text-decoration: underline;
}

table.news tr > td:first-child {
    color: var(--accent);
    font-weight: bold;
} 

table.news tr > td:nth-child(2) {
    color: var(--accent);
}

table.news {
    font-weight: lighter;
}

table.news em {
    font-style: normal;
    font-weight: normal;
}
