
.photo img {
    opacity: 0.9;
    cursor: pointer;
}

.photo img:hover {
    opacity: 1;
}

#image-modal .modal-content {
    width: 80%;
}

#image-modal .modal-content div.photo-container {
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#image-modal .modal-content div.photo-description {
    text-align: left;
    position: absolute;
    bottom: 4px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
}

#image-modal .modal-content div.photo-description:hover {
    opacity: 1;
}

#image-modal .modal-content div.photo-description span {
    padding: 4px 8px;
    color: #fff;
    font-size: 16px;
}

#image-modal img {
    height: 99%;
}

#image-modal .photo-previous,
#image-modal .photo-next {
    position: relative;
    fill: white;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-modal .photo-previous:hover,
#image-modal .photo-next:hover {
    background: rgba(10,10,10,.3);
}

#image-modal .photo-previous {
    left: 40px;
}

#image-modal .photo-previous svg {
    margin-right: 4px;
}

#image-modal .photo-next {
    transform: rotate(180deg);
    right: 40px;
}

#image-modal .photo-previous svg {
    margin-left: 4px;
}
