:root {
    --font-family: 'IBM Plex Sans';
    --font-family-mono: 'Inconsolata';
    --accent: #485fc7;
}

.mono-font {
    font-family: var(--font-family-mono);
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
}

p {
    color: #777;
}

p > em,
p > a {
    border-bottom: dashed 1px;
    font-style: normal;
    font-weight: normal;
}

h1.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2em;
}

h1.talk-title strong,
h1.podcast-title strong,
h1.publication-title strong {
    font-size: 1.125rem;
    color: var(--accent);
}

h1.talk-title:hover strong,
h1.podcast-title:hover strong,
h1.publication-title:hover strong {
    color: #444;
}


h2.external-links a {
    font-family: var(--font-family-mono);
}

h2.external-links a::before {
    content: '[';
}

h2.external-links a::after {
    content: ']';
}

.color-accent {
    color: var(--accent) !important;
}

@media screen and (max-width:769px) {
    .navbar a {
        margin-left: 0;
    }

    .navbar-menu1 {
        margin-left: 0;
    }

    .navbar .container {
        flex-direction: column;
    }
}
