---
const { href } = Astro.props;
---

<a target="_blank" href={href}>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="24"
        height="24"
        viewBox="0 0 24 24"
    >
        <path
            d="M 10.43 12.644 L 5 19 L 6.458 19 L 11.088 13.579 L 14.904 19 L 19.533 19 L 13.627 10.608 L 18.417 5 L 16.958 5 L 12.968 9.672 L 9.68 5 L 5.05 5 L 10.43 12.644 Z M 9.07 6.167 L 17.3 17.833 L 15.512 17.833 L 7.283 6.167 L 9.07 6.167 Z M 24 12 C 24 18.627 18.627 24 12 24 C 5.373 24 0 18.627 0 12 C 0 5.373 5.373 0 12 0 C 18.627 0 24 5.373 24 12 Z"
        >
        </path>
    </svg>
</a>
