---
interface Publication {
    title: string;
    authors: Array<string>;
    year: number;
    venue: string;
    urls: Array<{ name: string; url: string }>;
}

interface Props {
    publication: Publication;
}

import { parseInline } from "marked";

const { publication } = Astro.props;
const authorList = publication.authors.join(', ').replace("Muhammad Haroon", "<strong>Muhammad Haroon</strong>");
publication.venue = await parseInline(publication.venue);

---

<div class="publication mb-5">
    <h1 class="publication-title">
        <strong>{publication.title}</strong>
    </h1>
    <h2 set:html={ authorList }></h2>
    <h2>
        <span set:html={publication.venue}></span>, {publication.year}
    </h2>
    <h2 class="external-links">
        {
            publication.urls.map(x => <a href={ x.url } target="_blank">{ x.name }</a>)
        }
    </h2>
</div>

<style>
    h2 :global(strong) {
        text-decoration: underline;
    }
    .external-links {
        font-family: var(--font-family-mono);
    }
</style>
